visualize-dataset/extracted_data/obelics.pkl
visualize-dataset/domains/sorted_domains.pkl
visualize-dataset/extracted_data/mmc4-ff-core.pkl
visualize-dataset/extracted_data/obelics.pkl
visualize-dataset/domains/sorted_domains.pkl
visualize-dataset/extracted_data/mmc4-ff-core.pkl
put-ground-images/
test-grounded-images/
test-ground-images-results/
